body {
    margin: 0;
    padding: 0;
    background: #fff;
}

.form-wrapper {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}
